html, body {
        height: 100%; /* Full viewport height */
        margin: 0;
		background-color: floralwhite;
    }

body {
	display: flex;
	flex-direction: column; /* Stack navbar, content, footer */
}

.content-wrapper {
	flex: 1; /* Take remaining space so footer is pushed down */
}

.card {
	border-radius: 12px;
}

#home-main-img {
	
	border: 10px double black;
}