{% extends "base.html" %}

{% block title %}Feed{% endblock %}

{% block content %}
<h2>Gig Feed</h2>
<hr>

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link {% if title=='Global Feed' %}active{% endif %}" href="{{ url_for('feed') }}">Global Feed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if title=='Followed Activity' %}active{% endif %}" href="{{ url_for('following_feed') }}">Followed Activity</a>
    </li>
</ul>


{% if gigs %}
	<ul class="list-group">
	{% for gig in gigs %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div>
            <strong>{{ gig.artist }}</strong> - {{ gig.venue }}
            <br>
            <small>{{ gig.date | datetimeformat }}</small>
            <br>
            <em>{{ gig.review }}</em>
			<br>
			<small>
				Logged by: 
				<a href="{{ url_for('view_user', username=gig.username) }}">
					{{ gig.username }}
				</a>
			</small>
        </div>
    </li>
{% endfor %}
	</ul>
{% else %}
	<p>No gigs logged yet.</p>
{% endif %}
{% endblock %}